body {
    font-style: italic;
    overflow-x: hidden;
}

.card {
    /* box-shadow: 2px 2px 0px 2px ; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.solutions {
    background-color: whitesmoke;
}

#map{
    width:60% ; 
    height:400px;
    float: right;
    border-radius:20px
}

.lcimit {
    /* width:50px; */
    word-break:keep-all;
    text-align:start;
    padding: 10px;
    /* word-wrap: break-word; */
}
.flag{
    padding: 6px;
    height: 45px;
    width: 80px;
    border-radius: 10px;
    color: rgb(20, 0, 154);
    
}
.shad {
    /* box-shadow: rgba(23, 23, 164, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

}
.left{
    text-align: left;
}

.hero {
    text-shadow: 0.1em 0.1em 0.1em 0.1em;
}
.tools {
    width: 200px;
    height: 100px ;
    border-radius: 10px;
}
.form {
    border: 2px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
}